body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #665c84;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Satisfy', cursive;
}

h2 {
  color: #665c84;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #71a0a5;
  font-family: 'IBM Plex Sans', sans-serif;
}
p {
  line-height: 2;
}
hr {
  border: dotted #fab95b 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a {
  color: #71a0a5;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #fab95b;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
background-color: #fab95b;
padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}
.intro {
  width: 30%;
  margin: auto;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.webdev-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.soccer-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.btn {
  background: #fab95b;
  background-image: -webkit-linear-gradient(top, #fab95b, #d97f00);
  background-image: -moz-linear-gradient(top, #fab95b, #d97f00);
  background-image: -ms-linear-gradient(top, #fab95b, #d97f00);
  background-image: -o-linear-gradient(top, #fab95b, #d97f00);
  background-image: linear-gradient(to bottom, #fab95b, #d97f00);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ffd736;
  background-image: -webkit-linear-gradient(top, #ffd736, #ffd500);
  background-image: -moz-linear-gradient(top, #ffd736, #ffd500);
  background-image: -ms-linear-gradient(top, #ffd736, #ffd500);
  background-image: -o-linear-gradient(top, #ffd736, #ffd500);
  background-image: linear-gradient(to bottom, #ffd736, #ffd500);
  text-decoration: none;
}
